.link-container {
  display: flex;
}

.link-container .link {
  color: #eee;
  text-decoration: none;
  transition: all 0.5s ease;
}

.link-container .link:hover {
  font-size: 28px;
  color: #fff;
}
