.footer-container {
  padding: 10px 0;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  border-top: 1px solid white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  padding: 10px 20px;
  cursor: default;
}

.footer-address {
  line-height: 25px;
  padding: 0 0 0 20px;
  font-size: 14px;
  font-style: italic;
}

.footer-text span {
  font-size: 18px;
}

.footer-text span > a {
  color: #fff;
}

@media (max-width: 780px) {
  .footer-address {
    flex: 2;
  }

  .footer-text {
    flex: 1;
  }

  .footer-text {
    padding: 10px 5px;
    text-align: center;
  }
}
