.loading-container {
  padding: 0 20px;
  cursor: progress;
}

.loading-container > * {
  font-size: 20px;
  margin: 0 0;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
