.images {
  display: flex;
  flex-direction: column;
}

.image-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.images .images-text {
  margin: 50px;
  font-size: 40px;
  text-align: center;
}

.image-group .stack {
  flex: 1;
  font-size: 20px;
  margin-top: 20px;
}

@media (min-width: 780px) {
  .images-mobile {
    display: none;
  }
}

@media (max-width: 780px) {
  .images {
    display: none;
  }

  .images-text-mobile {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
  }

  .image-group-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-group-mobile .stack-mobile {
    font-size: 20px;
    margin-top: 20px;
  }
}
